@model SlippingCards.ViewModel.CardLoaderViewModel 
@{
    ViewData["Title"] = "Home Page";

    var cardsetTextAreaPlaceholder =
        $"This is the Cardset Title" + "\n" +
        $"====" + "\n" +
        $"" + "\n" +
        $"This is a Section" + "\n" +
        $"----" + "\n" +
        $"" + "\n" +
        $"Card title: Card text." + "\n" +
        $"Another card title: Another card text.";
}

<div class="text-center">
    <h1>
        Welcome to SlippingCards
    </h1>
    <h4>
        Study smarter with cards. Write a concept on one side and the explanation on the other, then slip it.
    </h4>
    <form class="form-group" asp-controller="Cardset" asp-action="Create">
        @Html.TextAreaFor(model => model.CardSetText, new { @rows = 15, @class = "form-control", @placeholder = cardsetTextAreaPlaceholder })
        <input value="Create" type="submit" class="btn btn-primary mt-4" />
    </form>
    <a asp-controller="Cardset" asp-action="CreateTemplate" class="nav-link">Create template</a>
</div>
