@model SlippingCards.ViewModel.CardLoaderViewModel 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to SlippingCards
    </h1>
    <h4>
        Study smarter with cards. Write a concept on one side and the explanation on the other, then slip it.
    </h4>
    <form class="form-group">
        @Html.TextAreaFor(model => model.CardSetText, new { @rows = 20, @cols = 100, @class = "form-control" });
    </form>
</div>
